<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <!-- Establece el juego de caracteres del archivo fuente -->
    <property name="charset" value="UTF-8"/>

    <!-- Comportamiento ante errores -->
    <property name="severity" value="error"/>

    <!-- Define los módulos de auditoría -->
    <module name="TreeWalker">

        <!-- Verifica el espaciado adecuado -->
        <module name="WhitespaceAround">
            <property name="allowEmptyConstructors" value="true"/>
            <property name="allowEmptyMethods" value="true"/>
            <property name="allowEmptyTypes" value="true"/>
            <property name="allowEmptyLoops" value="true"/>
        </module>

        <!-- Revisa si las constantes están en mayúsculas -->
        <module name="ConstantName">
            <property name="format" value="^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$"/>
        </module>

        <!-- Reglas para nombres de variables -->
        <module name="LocalVariableName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
        </module>
        
        <!-- Reglas para nombres de métodos -->
        <module name="MethodName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
        </module>
    </module>

    <!-- Módulo de longitud máxima de línea -->
    <module name="LineLength">
        <property name="max" value="120"/> <!-- Puedes ajustar el valor máximo aquí -->
        <property name="ignorePattern" value=".*"/> <!-- Patrón para ignorar líneas específicas si es necesario -->
    </module>
</module>